html, body {
    height: 100%;
}
html {
	/*overflow:hidden;*/
}
body{
	font-family: 'Arial' !important;
	background: #404040; 
	margin: 0;
	padding: 0;
	color: #ffffff !important;
}
#search-form{
	display: none;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{
	/*width: 1170px !important;*/
}
.navbar{
	border-top: 12px solid #6C6C6C;
}
.navbar .nav {
    float: left;
    margin: 0 10px 0 0;
}
.navbar .btn-navbar {
    display: none;
}
.navbar-inner{
	background: #404040 !important; 
	border-bottom: 1px solid #d4d4d4 !important;
}
.navbar-inner .container {
	width: 79% !important;
	margin: 0 auto !important;
	float: none !important;
}
.nav-collapse, .nav-collapse.collapse {
    overflow: visible;
}
#header{
	background: #404040;
}
#header-tweet {
    background: url("../images/twitter-logo.png") no-repeat scroll -4px center transparent;
    padding-left: 30px;
	line-height: 1.4;
    margin-top: 2px;
}
#main{
	background: #404040; 
	color: #fff; 
	padding-bottom: 0;
	width: 100%;
    /*min-height: 100%;*/
    height: auto !important;
    height: 100%;
    margin: 0px 0px -110px 0px;
	padding-top: 0;
}
#main .block {
    margin-bottom: 0;
}
#main .container{
	width:100%;
	padding: 0;
	height: 100%;
}
#main .container #content {
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#main .container .row {
	margin-left: 0 !important;
}
section#content {
    padding-top: 0;
}
#block-views-event-card-block-1 {
    margin-top: -30px;
}

#content .views_slideshow_cycle_main.views_slideshow_main {
    min-height: 700px !important;
	height: 700px !important;
}
.views-slideshow-cycle-main-frame.views_slideshow_cycle_teaser_section {
   /* overflow-y: auto !important;*/
    width: 100% !important; 
	/*height: 100% !important;
    min-height: 1000px !important;*/
}
.views-slideshow-cycle-main-frame-row, .views_slideshow_cycle_slide, .views_slideshow_slide, views_slideshow_cycle_hidden, .views-row-odd {
    width: 100% !important;
	/*top: auto !important;
	left: auto !important;*/
	
}
/*About Page*/
body.page-node-3243 #header {
    display: none;
}
body.page-node-3243 #main {
    padding-top: 40px;
}
body.page-node-3243 .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, body.page-node-3243 .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle
{
	background:none !important;
}

/*Slider Skin */
.skin-default {
    overflow: hidden;
    width: 100% !important;
}
/********** Card Styling *************/
.card-image .span5 {
    margin-left: 0;
}
/**hide date/time on poll card **/
.card-poll .views-field-created, .card-poll .views-field-created-1 {
	display:none;
}
.card-audio .span7, .card-audio .span5 {
	width: 100% !important;
	float:none !important;
	
}
.card-audio .span7 {
	margin-bottom: 0;
}
.card-audio .span5 {
    margin: -45px 0 0;
}
.card-audio .tab-content {
    padding-left: 0;
}
.media-soundcloud-preview-wrapper iframe {
	height: 125px !important;
	background: #f5f5f5;
}
.card-producermessage {
    padding-top: 7%;
}
.editor-message-text {
    font-size: 1.1em;
    line-height: 1.2;
}
.card-ftweet .views-field-created {
    padding-top: 50px;
}
.twitter-tweet {
    border-left: none;
    margin: 0;
    padding: 95px 0 0 0;
	font-size: 1.2em;
}
.twitter-tweet p {
    font-size: 1.2em !important;
    font-style: italic;
    margin-bottom: 20px;
}
.twitter-tweet p:before, .twitter-tweet p:after {
    content: "\"";
}
.card-article .span7 {
    padding-right: 15px;
	 padding-top: 5%;
}
.card-article .tab-container {
	border-left: 1px solid #707070;
}
.card-article .read-more {
    margin: 1em 0;
}
.card-article .read-more a {
    text-transform: uppercase;
}
.views-field.views-field-field-author {
    display: none; /*hide duplicate author name at the top of the page*/
}
#main .container h1 {
    color: #FFFFFF;
    font-size: 1.8em;
    font-weight: normal;
    line-height: 1.2;
    margin: 10px 0;
    text-transform: uppercase;
	width: 95%;
}
.card-ftweet h1 {
    margin: 10px 0 5px;
}
#main .container h2 {
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1;
    margin-top: -5px;
    text-transform: uppercase;
}
.card-ftweet h2 {
    font-weight: normal;
}
#main .container h2 span {
    display: block;
    font-weight: normal;
    padding-top: 0.4em;
    text-transform: none;
}
p{
	margin: 10px 0;
}
#main .container  a, #main .container a:hover, #main .container a:visited {
    color: #FFFFFF;
	text-decoration: none;
	border-bottom: 1px solid #ffffff;
}

.views-slideshow-cycle-main-frame-row .views-field-created h3{
	font-size: 1.5em; 
	line-height: 1.2; 
	text-transform: uppercase; 
	margin: 0; 
}
.views-slideshow-cycle-main-frame-row .views-field-created-1 span{
	font-size: 1em; 
	line-height: 1; 
	text-transform: uppercase; 
	font-weight: normal;
}
.views-field.views-field-created-1 {
    margin-bottom: 20px;
}
/************** IMAGES ************************/
.views-field-field-card-upload-image img
{
	/*width: 100% !important;
	height: 100% !important;*/
}

/******* TABS ******************/
/*.tabs-container .nav-tabs a {
    border: none;
    color: #FFFFFF;
    cursor: default;
    font-size: 0.9em;
    font-weight: bold;
	border-radius: 0;
	background: #000000;
}
*/

.tabs-container .nav-tabs > li {
    margin-bottom: 0;
}
.tabs-container .nav-tabs > li > a {
    border: none !important;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 0.9em;
    line-height: 20px;
    text-transform: uppercase;
	padding-left: 2em;
    padding-right: 2em;
	background: #000000 !important;
}
.tabs-container .nav-tabs > .active > a, .tabs-container .nav-tabs > li > a:hover {
    background: #404040 !important;
    color: #FFFFFF;
}
.tab-content {
    padding: 20px 10px 0 20px;
}
.card-audio .tab-content {
	border-top: 1px solid #707070;
}
.comments-tab {
	/*padding: 0.7em 2em !important; override for module's custom.css*/
}
/****** COMMENTS DIV *********/
.views-field.views-field-php-2 {
    margin-top: 25px;
}
.load_comments{
    background: none repeat scroll 0 0 #202020 !important;
    border: none;
    border-radius: 2px 2px 2px 2px;
    box-shadow: none;
    color: #FFFFFF;
    font-size: 0.8em;
    font-weight: normal;
    height: auto;
    margin: 20px 20px 0 0;
    padding: 8px 12px;
    text-align: center;
    text-transform: uppercase;
}
.load_comments {
    background: url("../images/comments-icon.png") no-repeat 6px center #202020 !important;
    padding: 8px 12px 8px 35px;
}
.load_comments:hover{
	background-color: #000000 !important;
	color: #ffffff;
	text-decoration: none;
}
#disqus_thread {
   /* max-height: 250px;*/
   /* overflow-y: auto;*/
    padding: 10px 20px 0 0;
    /*width: 77%;*/
}
.comments-pane {
    height: 300px;
    width: 85%;
}
.card-audio .comments-pane {
	width: 98%;
}
/****** DRUPAL MESSAGES **************/
div.status {
    border: none;
    margin: 0 auto;
    width: 73%;
}
div.status, table tr.ok {
    color: #FFFFFF;
}
div.messages {
    margin: 0 auto;
}

/****** SLIDER BOTTOM NAV ***********/
.views-slideshow-pager-fields.widget_pager.widget_pager_top {
    display: none; /*hide mobile nav */
}
.jcarousel-list.jcarousel-list-horizontal {
    width: 3000px !important; /* fixes bug when last item is hidden after the screen is resized */
	/*left: 0 !important;*/
}
.views-slideshow-controls-bottom {
    background: #303030;
	/*position: absolute;*/
	position: fixed;
	bottom: 0;
	width: 100%;
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item{
	background: #000000; 
	border-right: 1px solid #707070; 
	float: left !important;  
	width: 158px !important; 
	height: 110px !important; 
	color: #fff; 
	cursor: pointer; 
	padding: 8px 0 0 8px; 
	margin-right: 0;
	position: relative;
}
.views_slideshow_jcarousel_pager_item:last-child {
    border-right: none;
}
.views_slideshow_jcarousel_pager_item.views_slideshow_active_pager_field_item, 
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item:hover {
	background: #ffffff; 
	color: #000000;
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .views-content-created h3{
	font-size: 1.1em; 
	font-weight: bold;
	line-height: 1; 
	margin: 35px 0 5px 0; 
	text-transform: uppercase;
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .views-content-created{
	font-size: 0.8em; 
	font-weight: normal; 
	line-height: 1; 
	text-transform: uppercase;
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .views-content-created span{
	display: block; 
	margin-bottom: 7px;
	font-size: 0.8em; 
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .views-content-field-card-type{
	font-size: 0.8em !important; 
	font-weight: bold; 
	line-height: 1; 
	text-transform: uppercase; 
	margin: 5px 0;
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .views-field-title{
	font-size: 0.8em; 
	font-weight: bold; 
	text-transform: uppercase; 
	line-height: 1;
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .views-field-php{
	position: absolute; 
	width: 30px; 
	height: 25px; 
	top: 10px;
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .views-field-field-card-type{
	float: left; 
	margin-right: 5px;
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .views-field-field-card-headline{
	font-size: 0.6em; 
	font-weight: normal; 
	margin-top: 13px; 
	line-height: 1em;
	padding-right: 10px;
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .views-content-php div{
	background-image: url('../images/sprite-pager-icons.png');
	background-repeat: no-repeat;
	height: 25px;
} 
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .article-type {
	background-position: 0 0;
	width: 20px; 
}
.views_slideshow_jcarousel_pager_item.views_slideshow_active_pager_field_item .article-type, .views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item:hover .article-type{
	background-position: 0 -99px; 
	width: 23px;
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .audio-type{
	background-position: 0 -33px; 
	width: 23px;
}
.views_slideshow_jcarousel_pager_item.views_slideshow_active_pager_field_item .audio-type, .views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item:hover .audio-type{
	background-position: 0 -132px; 
	width: 23px; 
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .ftweet-type{
	background-position: 0 -66px; 
	width: 23px; 
}
.views_slideshow_jcarousel_pager_item.views_slideshow_active_pager_field_item .ftweet-type, .views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item:hover .ftweet-type{
	background-position: 0 -165px; 
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .photo-type{ 
	background-position: 0 -330px; 
	width: 31px; 
}  
.views_slideshow_jcarousel_pager_item.views_slideshow_active_pager_field_item .photo-type, .views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item:hover .photo-type{ 
	background-position: 0 -198px; 
	width: 31px; 
} 
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .poll-type{
	background-position: 0 -363px;
	width: 29px; 
}
.views_slideshow_jcarousel_pager_item.views_slideshow_active_pager_field_item .poll-type, .views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item:hover .poll-type{
	background-position: 0 -231px; 
	width: 29px; 
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .producermessage-type{
	background-position: 0 -396px; 
	width: 26px; 
}
.views_slideshow_jcarousel_pager_item.views_slideshow_active_pager_field_item .producermessage-type, .views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item:hover .producermessage-type{
	background-position: 0 -264px; 
	width: 26px;
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .photo-type{ 
	background-position: 0 -330px; 
	width: 31px; 
}  
.views_slideshow_jcarousel_pager_item.views_slideshow_active_pager_field_item .photo-type, .views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item:hover .photo-type{ 
	background-position: 0 -198px; 
	width: 31px; 
} 
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .video-type, .views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .live-type{ 
	background-position: 0 -429px; 
	width: 35px; 
} 
.views_slideshow_jcarousel_pager_item.views_slideshow_active_pager_field_item .video-type, 
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item:hover .video-type, 
.views_slideshow_jcarousel_pager_item.views_slideshow_active_pager_field_item .live-type,
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item:hover .live-type{ 
	background-position: 0 -297px; 
	width: 35px; 
} 

/***** Video ***********/
.responsive-video-wrapper{
	width:100%;
	position:relative;
	padding:0;
	z-index: -1;
}
.responsive-video-wrapper iframe,.responsive-video-wrapper object,.responsive-video-wrapper embed{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/**********************/
a#myLink{
	background: url('../images/comments-icon.png') 15px center no-repeat #202020; 
	border-radius: 2px; 
	font-size: 0.85em; 
	text-transform: uppercase; 
	font-weight: normal; 
	padding: 5px 0 5px 45px; 
	color: #fff; 
	width: 120px; 
	display: block;
}
a#myLink:hover{
	background: url('../images/comments-icon.png') 15px center no-repeat #000000; 
	color: #fff; 
	text-decoration: none;
}
.jcarousel-skin-tango .jcarousel-container-horizontal{
	padding: 0;
	/*width: 85%;*/
	width: 75%;
}
.views-slideshow-controls-text .views-slideshow-controls-text-next a{
	background: url('../images/sprite-slider-nav.png') transparent -72px 0 no-repeat; 
	width: 22px;
	height: 33px;
	text-indent: -9999px; 
	position: fixed; 
	top: 40%; 
	right: 0; 
	margin-right: 25px;
	border: none !important;
}
.views-slideshow-controls-text .views-slideshow-controls-text-previous a{
	background: url('../images/sprite-slider-nav.png') transparent 0 0 no-repeat; 
	width: 22px;
	height: 33px;
	text-indent: -9999px; 
	position: fixed; 
	top: 40%; 
	left: 0; 
	margin-left: 25px;
	border: none !important;
}
.views-slideshow-controls-text .views-slideshow-controls-text-pause {
	display: none;
}
.views_slideshow_cycle_main{
	-webkit-transition: height 600ms ease-in-out; 
	transition: height 600ms ease-in-out;
}
#views_slideshow_cycle_main_event_card-block_1,#block-system-main {
	margin: 0 auto;
	width: 77%;
}
#views_slideshow_controls_text_event_card-block_1{
	position: relative;
	top: 200%; 
	z-index: 9999;
}

#widget_pager_bottom_event_card-block_1{
	/*width: 77%;*/
	background: none;
	border:none;
	margin: 0 auto;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal{
	width: 100% !important; 
	height: 110px;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal, .jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
	background: url('../images/sprite-slider-nav-small.png') left center no-repeat transparent; 
	width: 15px;
	left: -15px;
}
.jcarousel-skin-tango .jcarousel-next-horizontal, .jcarousel-skin-tango .jcarousel-next-horizontal:hover {
	background: url('../images/sprite-slider-nav-small.png') right center no-repeat transparent; 
	right: -15px;
    width: 15px;
}
#footer{
	display: none;
}
/*
#block-views-event-card-top-details-block-3{
	float: left; 
	padding: 10px 10px 10px 0; 
	font-size: 0.8em; 

	color: #fff; 
	border-right: 1px solid #707070; 
	margin-right: 10px;
}
#block-views-event-card-top-details-block-4{
	/float: left; 
	color: #fff; 
	border-right: 1px solid #707070; 
	padding-right: 10px; 
	font-size: 0.8em; 
	padding-top: 2px;
}
#block-views-event-card-top-details-block-4 .views-field-field-event-twitter-tag a{
	color: #fff; 
	text-transform: uppercase; 
	font-size: 1.1em; 
	margin-top: -5px; 
	font-weight: bold; 
	display: block; 
	padding-bottom: 3px;
}
*/
/*changes for top part starts*/
#header-top .block{
	float:left;
	padding-right:10px;
	border-right: 1px solid #707070; 
	font-size: 0.8em; 
	color: #fff; 
}
#block-views-event-card-top-details-block-4{
	padding-left:10px;
    margin-top: 2px;
}
#header-event-title{
padding:10px 10px 10px 0;
}
#header-tweet a{
	color: #fff; 
	text-transform: uppercase; 
	font-size: 1.1em; 
	font-weight: bold; 
}
#header-top  #block-block-5{
	float:right;
	border-right:none;
	font-size: 1.1em; 
	font-weight: bold; 
}

/*changes for top part ends*/
.navbar-medium .navbar-inner{
	padding-top: 0; 
	padding-bottom: 0;
}
.nav-collapse li.dropdown{
	background: url('../images/menu-button.png') center center no-repeat #fff; 
	width: 25px; 
	height: 23px; 
	border-radius: 4px; 
	margin-top: 8px;
}
.nav-collapse li.dropdown > a{
	text-indent: -9999px; 
}
.navbar-inverse .nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .nav > li > a:focus, .navbar-inverse .nav-collapse .dropdown-menu a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:focus, .nav-collapse li.dropdown > a:hover, .navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	background: none !important;
}
.navbar-inverse .nav li.dropdown.active>.dropdown-toggle, 
.navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle{
	background: url('../images/menu-button.png') center center no-repeat #fff !important;  
	height: 30px; 
	border-radius: 5px; 
	margin-top: 0px;
}
.navbar-medium .nav > li > a{
	margin: 0; 
	padding-bottom: 0; 
	padding-top: 0;
}
ul.dropdown-menu li.active a.active {
    background: #404040 !important;
}
.navbar .nav > li > .dropdown-menu:before {
    border: none;
}
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    border-radius: 0;
}
.nav-collapse .dropdown-menu{
	background: #6C6C6C !important; 
	margin: 0; 
}
.dropdown-menu {
    border: none !important;
    border-radius: 0;
    top: 33px;
}
.dropdown-menu > li > a{
	color: #ffffff !important; 
	text-transform: uppercase; 
	font-weight: bold; 
	font-size: 10px;
	border-radius: 0 !important;
	padding: 3px 12px;
}
.navbar .nav>li>.dropdown-menu:after{
	content:none;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a{
	background: none !important;
}

body.node-type-event #header{
	display: none;
}
.card-ftweet .addthis_toolbox {
    margin-top: 40px;
}
.addthis_toolbox {
    margin-top: 2%;
}
.card-producermessage .addthis_toolbox {
    margin-top: 10%;
}
.addthis_toolbox .custom_images img {
    height: auto !important;
    width: auto !important;
}
.addthis_toolbox .custom_images a {
    border-bottom:none !important;
    padding: 0 7px 0 0;
    text-decoration: none;
}

/*.addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m {
    border-bottom:none !important;
    padding: 0 10px 0 0;
    text-decoration: none;
}
*/
/**** Poll ****/
/*.card-poll .views-field-created, .card-poll .views-field-created-1 {
    display: none;
}*/
.card-poll {
    padding-top: 7%;
}
.pollfield-title {
   display:none;
   /* font-size: 2em;
    line-height: 1.5;
    text-transform: uppercase;*/
}
.poll-choices {
    margin-left: 8%;
}
/*.form-item-choice > label {
    display: none;
}
*/
.form-item-choice > label:first-child {
    display: none;
}
.form-checkboxes .form-item, .form-radios .form-item {
    font-weight: normal;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}
.btn.form-submit {
  background: #FFFFFF;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #000000;
  font-size: 1em;
  font-weight: bold;
  height: auto;
  padding: 8px 12px;
  text-align: center;
  text-transform: uppercase;
}
#edit-vote:hover {
}
.pollfield-form .btn.form-submit:hover {
	background-color: #000000 !important;
	color: #ffffff;
	text-decoration: none;
	text-shadow: none !important;
}

/*** Hide phone bottom nav ****/
#current-card-wrapper {
	display:none;
}


.closed-menu {
	overflow: auto !important;
	z-index: 9999 !important;
	height: auto !important;
}

body.page-card-review #lightbox body.node-type-card{padding: 0 15px; background: gold;}
body.node-type-card #navbar{display: none;}
body.node-type-card #disqus_thread{display: none;}
body.node-type-card .region-page-top{display: none;}
body.node-type-card #header h1{color: #fff !important; font-size: 26px !important;}


body.page-card-review tr.even, body.page-card-review tr.odd{background: #666666;}
body.page-card-review td{padding-right: 10px;}
body.page-card-review table.sticky-header thead{background: #404040;}


body.page-card-review #header h1{color: #fff !important;}
body.page-card-review input#edit-submit--2 {margin-top: -10px; padding: 5px 12px !important; margin-left: 10px;}
body.page-card-review input#edit-submit-card-review-and-publish{padding: 5px 12px !important; margin-top: 25px !important;}
/*body.page-card-review td input[type="checkbox"]{margin: 0 5px 0 5px !important;}*/
body.page-card-review input[type="checkbox"]{margin: 0 5px!important;}
body.page-card-review fieldset#edit-select span.fieldset-legend{display: none;}
body.page-card-review #bottomNavClose{margin-top: 0px !important; margin-right: -10px !important;}
body.page-card-review #imageDataContainer{height: 0px !important;}

/*body.page-node-add-card .field-type-text-with-summary fieldset.filter-wrapper{display: none;}*/
body.page-node-add-card fieldset.filter-wrapper{display: none;}
body.page-node-add-card .field-type-text-with-summary .form-textarea-wrapper .counter{display: none;}
body.page-node-add-card .form-actions{background-color: #404040!important;}
fieldset legend{color: #fff;}
.form-actions{background: #404040 !important; color: #fff !important; }

.nav-collapse .dropdown-menu li a#event-page-id{display: none;}
.nav-collapse .dropdown-menu li a#token-card-page-id{display: none;}

.nav-collapse .dropdown-menu li a#non-event-page-id{display: block;}
.nav-collapse .dropdown-menu li a#card-page-id{display: block;}

body.node-type-event .nav-collapse .dropdown-menu li a#non-event-page-id{display: none;}
body.node-type-event .nav-collapse .dropdown-menu li a#card-page-id{display: none;}

body.node-type-event .nav-collapse .dropdown-menu li a#event-page-id{display: block;}
body.node-type-event .nav-collapse .dropdown-menu li a#token-card-page-id{display: block;}

#pollfield-voting-form .form-item-choice > label:first-child{}
.node-type-event #block-system-main .field-name-group-group{display: none;}
body.page-node-add #page #content #console .error{display: none;}
body.page-node-add .container .error{display: none;}

/*h1, h2, h3, h4, h5, h6{color: #fff!important;}*/
tr.even, tr.odd{background: #333333 !important;}
td.active{background: #333333 !important;}
th{padding-left: 10px;}
td{padding: 10px !important; vertical-align: top !important; /*5px 10px 5px 10px*/}
td p{margin: 0 !important;}
/***************************************************************************************************************************************************/
/*Media Queries*/
/***************************************************************************************************************************************************/

/* @media - Mobile to Tablet Landscape */
@media only screen and (max-width: 1024px) {
#views_slideshow_cycle_main_event_card-block_1, #block-system-main {
  /* margin: 0 auto -110px auto;*/
   margin: 0 auto;
    width: 100%;
}
#content .views_slideshow_cycle_main .views_slideshow_cycle_teaser_section {
    position: absolute !important;
    z-index: 0;
}
.card-article, .card-ftweet, .card-producermessage {
    padding-left:8%;
	padding-right:8%;
}
.card-audio .tab-content {
    padding-left: 20px;
}
.card-audio .tabs-container {
    margin: -95px auto 0;
    padding-left: 0;
    width: 100%;
	position: relative;
	z-index: 999;
}
.card-poll {
    padding: 5%;
}

.navbar-inner .container {
     width: 100% !important;
}
}


/* @media - Tablet Portrait */
/*@media only screen and (max-width: 1024px) and (orientation: portrait) {*/
@media screen and (max-width: 768px){
#content .views_slideshow_cycle_main.views_slideshow_main {
    min-height: 1024px !important;
	/*height: 1024px !important;*/
}
.card-video .span7, .card-live .span7, .card-image .span7, .card-image .span5, .card-article .span5, .card-article .span7, .card-ftweet .span4, .card-ftweet .span8, .card-poll .span7 {
    width: 100% !important;
}
.card-video .span5 {
   width: 90% !important;
}
.card-producermessage .span8 {
    margin-top: 5%;
}
.card-producermessage .span4, .card-producermessage .span8 {
    margin-left: 0;
    width: 100% !important;
}	
.card-poll .span5 {
    margin-left: 2% !important;
	margin-bottom: 3% !important;
    width: 90% !important;
}
.poll-choices, .poll-choices form {
    margin-left: 8px;
}
.views-slideshow-controls-text .views-slideshow-controls-text-previous a, .views-slideshow-controls-text .views-slideshow-controls-text-next a{
    top: 50%;
	z-index: 999;
}
.views-slideshow-controls-text .views-slideshow-controls-text-previous a {
	left: -13px;
}
.views-slideshow-controls-text .views-slideshow-controls-text-next a {
	right: -9px;
}
.card-article .tab-content {
	margin-left: 0;
}
.card-article .span5 {
    /*border-top: 1px solid #707070;*/
    margin-left: 0;
	margin-top: 2em;
}
.card-ftweet .span8 {
	margin-left: 0;
}
.twitter-tweet {
    padding: 1em 0 0;
}
.tabs-container {
    margin-left: 20px;
	margin-left: 0;
}
.tabs-container .tab-content {
    padding-left: 10px;
}
.card-image .span5 {
    margin-left: 2.76%;
}
ul.nav-tabs {
    /*border-bottom: 1px solid #707070;*/
    width: 90%;
}
.comments-pane {
  /*height: 100% !important;*/
  height: 200px !important;
  width: 100%;
  overflow: auto;
}
}

@media screen and (max-width: 810px)
{
.region-header-top > div {
   /* border: none !important;*/
}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px)
{
#footer{
	background: yellowgreen;
}
.nav-collapse{
	background: red;
}

}

/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px)
{
#footer{
	background: red;
}
}


/* #MOBILE (Portrait & Landscape) */
@media (max-width: 640px)
{
#content .views_slideshow_cycle_main .views_slideshow_cycle_teaser_section {
  overflow: visible !important;
}
#current-card-wrapper {
	display:block;
	position: relative;
	z-index: 9999;
}
#header-top .block {
    border: none;
    float: none;
    padding: 0;
}
#header-tweet {
    float: left;
}
#header-top .skin-default {
    float: left !important;
    width: auto !important;
}
#header-event-title {
    padding: 15px 10px 5px 0;
	float:left;
}
.navbar-inner .container {
    width: 94% !important;
}
.region-header-top #block-block-1 {
    clear: both;
    float: none;
    padding: 0 10px 0 0;
}
.navbar .brand {
    padding: 10px 10px 0px 5px;
}
.navbar .brand img {
    height: 25px;
    margin: -2px 5px -5px;
}	
.card-poll {
    padding: 5%;
}
.poll-choices {
    margin-left: 0;
}
.card-ftweet .addthis_toolbox {
    margin-top: 5%;
}
.card-article .span5 {
    border-top: none;
}
.tab-content {
  border-top: 1px solid #707070;
}
#disqus_thread {
  padding: 0;
}
#content .views_slideshow_cycle_main.views_slideshow_main {
    /*min-height: auto !important;*/
	height: auto !important;
	min-height: 300px !important;
}
.views-slideshow-controls-top {
    display: none;
}	
.views-slideshow-pager-fields.widget_pager.widget_pager_top {
    display: block;
}
.views_slideshow_jcarousel_pager {
	width: 100% !important;
	display:none;
	max-height: 90px !important;
}
.jcarousel-list.jcarousel-list-horizontal {
  left: 0 !important;
}
/*.views_slideshow_jcarousel_pager.open {	
	overflow: auto;
	z-index: 9999;
	height: auto;
}
*/
.views-slideshow-controls-bottom {
	/*display:none; hide for phones and display with script */
	background: #000000;
	margin: 0;
	left: 0;
	width: 100% !important;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 100% !important;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    height: auto;
}
.jcarousel-skin-tango .jcarousel-container {
    border-radius:0;
}
.jcarousel-next.jcarousel-next-horizontal, .jcarousel-prev.jcarousel-prev-horizontal {
	display:none !important;
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item {
    border-bottom: 1px solid #707070;
    border-right: none;
    float: left !important;
    height: 38px !important;
    padding: 3px 0 3px 12px;
    width: 100% !important;
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .views-field-created {
    display: inline;
    float: left;
    position: relative;
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .views-content-created h3 {
    float: left;
    font-size: 0.85em;
    margin: 5px 0 0 45px;
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .views-content-created h3:after {
    content: ",";
    margin: 0 0 0 -3px;
    padding: 0;
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .views-field-field-card-type {
    clear: left;
    float: left;
    margin: 0 0 0 45px;
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .views-content-created span {
    font-size: 0.85em;
    margin: 5px 0 0 5px;
	font-weight: bold;
}
.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item .views-field-field-card-headline {
    display: none;
	margin: 4px 0;
}
#current-card .views_slideshow_jcarousel_pager_item .views-content-created h3, #current-card .views_slideshow_jcarousel_pager_item .views-field-field-card-type {
    margin-left: 43px;
}
#current-card-wrapper {
	width: 100%;
}
#current-card-wrapper.border {
	border-top: 1px solid #707070;
}
#current-card {
	float: left;
	color: #ffffff;
	padding: 5px 5px 5px 15px;
}
#current-card li {
    border: none;
}
#current-card .views_slideshow_jcarousel_pager_item {
    padding-left: 0;
}
#footer-btn.btn-navbar {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #FFFFFF;
    float: right;
    font-size: 0.7em;
    font-weight: bold;
    margin: 15px 10px 11px 0;
    padding: 0;
    text-shadow: none;
    text-transform: uppercase;
}
#footer-btn span {
    margin: 7px 0 0 5px;
	padding-right: 15px;
	display:block;
}
#footer-btn span.closed{ 
	background: url("../images/footer-nav-arrow-down.png") no-repeat right center transparent;
} 
#footer-btn span.open{ 
	background: url("../images/footer-nav-arrow-up.png") no-repeat right center transparent;
} 
.views-slideshow-controls-text .views-slideshow-controls-text-next a{
	background: url('../images/sprite-slider-nav-small.png') right center transparent; 
	width: 10px; 
	height: 21px;  
	text-indent: -9999px; 
	position: fixed; 
	top: 40%; 
	right: 0; 
	margin-right: 5px;
}
.views-slideshow-controls-text .views-slideshow-controls-text-previous a{
	background: url('../images/sprite-slider-nav-small.png') left center transparent; 
	width: 10px; 
	height: 21px; 
	text-indent: -9999px; 
	position: fixed; 
	top: 40%; 
	left: 0; 
	margin-left: 5px;
} 
/*.views-slideshow-controls-bottom .views_slideshow_jcarousel_pager_item{
	background: #000000; 
	border-right: 1px solid #707070; 
	float: left;  
	width: 110px !important; 
	height: 101px; 
	color: #fff; 
	cursor: pointer; 
	padding: 8px 0 0 8px; 
	margin-right: 0;
}
*/

/*********** CARD TYPE IMAGES *******************/

#current-card .views_slideshow_active_pager_field_item, #current-card .views_slideshow_jcarousel_pager_item:hover {							   	background: #000000 !important; 
	color: #ffffff !important;
}
/*Remove hover and active styling on cloned card info inside #current-card in footer nav #*/
#current-card .views_slideshow_active_pager_field_item .article-type, #current-card .views_slideshow_jcarousel_pager_item:hover .article-type{
	background-position: 0 0;
	width: 20px; 
}
#current-card .views_slideshow_active_pager_field_item .audio-type, #current-card .views_slideshow_jcarousel_pager_item:hover .audio-type{
	background-position: 0 -33px; 
	width: 23px;
}
#current-card .views_slideshow_active_pager_field_item .ftweet-type, #current-card .views_slideshow_jcarousel_pager_item:hover .ftweet-type{
	background-position: 0 -66px; 
	width: 23px; 
}
#current-card .views_slideshow_active_pager_field_item .photo-type, #current-card .views_slideshow_jcarousel_pager_item:hover .photo-type{ 
	background-position: 0 -330px; 
	width: 31px; 
}  
#current-card .views_slideshow_active_pager_field_item .poll-type, #current-card .views_slideshow_jcarousel_pager_item:hover .poll-type{
	background-position: 0 -363px;
	width: 29px; 
}
#current-card .views_slideshow_active_pager_field_item .producermessage-type, #current-card .views_slideshow_jcarousel_pager_item:hover .producermessage-type{
	background-position: 0 -396px; 
	width: 26px; 
}
#current-card .views_slideshow_active_pager_field_item .photo-type, #current-card .views_slideshow_jcarousel_pager_item:hover .photo-type{ 
	background-position: 0 -330px; 
	width: 31px; 
}  
#current-card .views_slideshow_active_pager_field_item .video-type, 
#current-card .views_slideshow_jcarousel_pager_item:hover .video-type, 
#current-card .views_slideshow_active_pager_field_item .live-type,
#current-card .views_slideshow_jcarousel_pager_item:hover .live-type{ 
	background-position: 0 -429px; 
	width: 35px; 
} 
#main .container h1 {
    font-size: 1.2em;
}
}
/* Phone - Portrait */
@media (max-width: 480px) and (orientation: portrait) {
#content .views_slideshow_cycle_main.views_slideshow_main {
    /*min-height: 320px !important;*/
}
.views_slideshow_jcarousel_pager {
	max-height: 300px !important;
}

#header-top .skin-default {
    float: none !important;
    width: 100% !important;
}


}
