body {text-align:left;}

body.page-event {background-color: #232629;}

/* Sliders */
.views-slideshow-pager-field-item {
float: left;
padding: 5px;
width: 164px;
height: 110px;
color:#fff;
}

div.item-list {
    position: fixed;
    bottom: 136px;
    width: 1000px;
}

.views-slideshow-pager-field-item.active {
background: #bbbbbb;
border-radius: 4px;
}

.views-slideshow-pager-fields {
position: fixed; /* Positions the element absolutely. We can use absolute because the container is positioned relatively. */
bottom: 0; /* Position 20px up from the bottom */
right: 10%; /* Position 10px in from the right */
z-index: 99; /* Set the z-index to something higher than the slideshow, so that the pager is on top of the slideshow */
background-color: rgba(0, 0, 0, 0.6); /* Add a slightly transparent background to set the pager apart */
border-radius: 0; /* Round the corners of the background */
padding: 10px; /* Add 10px of padding around the pager images */
width: 80%;
height: 130px;
}

#views_slideshow_cycle_teaser_section_featured_content-block .views-field-title { /* Select the title field inside the slideshow div */
position: absolute; /* Positions the element absolutely. We can use absolute because the container is positioned relatively. */
top: 0px; /* Position 10px down from the top */
left: 0px; /* Position 10px in from the left */
z-index: 99; /* Set the z-index to something higher than the slideshow, so that the pager is on top of the slideshow */
background-color: rgba(0, 0, 0, 0.6); /* Add a slightly transparent background to set the pager apart */
border-radius: 0 0 6px 0; /* Round the bottom right corner of the background */
padding: 10px; /* Add 10px of padding around the pager images */
}

#views_slideshow_cycle_teaser_section_featured_content-block .views-field-title a { /* Select the links inside the title field inside the slideshow div */
color: #ccc; /* Change the color of the link text */
text-shadow: 2px 2px #000000; /* Adjust the text shadow to look a bit better */
}

.vscc-controls {
position: static;
z-index: 99;
}

.vscc_controls_previous {
position: absolute;
top: 180px;
left: -100px;
background: #eee;
padding: 0 5px 5px;
border: 2px solid #333;
border-radius: 5px;
}

.vscc_controls_next {
position: absolute;
top: 180px;
right: -100px;
background: #eee;
padding: 0 5px 5px;
border: 2px solid #333;
border-radius: 5px;
}

.skin-default {
	margin-top:  0;
    padding-top: 2em;
    color: #fff;
}

.views-label-created {display:block;}

.view-events .views-row {
    background-color: #666;
    padding: 1em 1em 2em;
    border-bottom: 12px solid #0c1f51;
}

.view-events .views-row .views-field-name {
    margin-bottom: 1em;
}

.view-events .views-row .views-field-tid {
    float: right;
}

.view-events .views-row a {
    color: #fff;
}

/* Articles */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	clear:none;;
}
article, section {
	overflow:hidden;
}

.page {background-color:transparent; margin:0 auto; max-width:1000px; width:100%;}
.page-top-bg {background:url('../images/page-outline-bkgd.png') repeat-x 0 0; width:100%; height: 82px; left: 0;
    position: fixed; top: 0; width:100%; z-index:-1000;}

/* Custom Colors */
.cs_bg_grey {
    background-color: #f2f2f2;
}

.cs_bg_light_grey {
    background-color: #666666;
}

.cs_bg_med_grey {
    background-color: #404040;
}

.cs_bg_blue {
    background-color: #102151;
}

.cs_bg_white {
    background-color: #ffffff;
}

.cs_white {
    color: #ffffff;
}

.cs_link {
    color: #008cba;
}

.cs_padding_sml {
    padding: .75em;
}

/*Social Media Icons*/
.ticker p {font-size:0.8em; padding: 5px 0 0 17px;}
.ticker p .alert.label {background-color: #0040A4; color: #FFFFFF; font-weight: bold; letter-spacing: 0.05rem;}
.ticker p {color:#ffffff;}

/*Article Footer Section*/
.footer-content {background-color:#666666; padding:1.4% 2% 2%;}
.footer-content h2.node-title {z-index: 1;}
.footer-content h2 a {color:#ffffff; font-size:1.75em; font:1.75rem georgia, "New York Times", serif;}
.footer-content .card_social  {font-size:2.2em; font-size:2rem;}
.footer-content .card_social  a {color:#ffffff; text-decoration:none;}
.footer-content .card_social  a:hover {color:#102151;}

.media-content {overflow:hidden; position:relative;}
/*.media-content-ftr {background-color:#eeeeee; position:absolute; bottom:0; height:34px; width:100%;}*/
.media-content .text-secondary p {display:none;}

.flex-video.widescreen {margin-bottom:0px;}
.flex-video {padding-top:0px;}

.top-bar {background-color:#fff;}
.top-bar .logo-text {padding-top:2px;}
.top-bar .logo-text a.active {color: #1D4495; font-family: georgia; font-size: 24px; font-weight: bold; padding: 0 3px;}
.top-bar .logo {height:20px;}
.top-bar .logo-text a.active {color:#1d4495; padding:1px 3px 0;}
.l-header .social {background-color:#666666; height:32px; position:relative; z-index:100000; width:100%;}

.top-bar .name h1 a { color: #1D4495; font-family: georgia; font-size: 24px; font-weight: bold; padding: 0 3px; }

.fa-twitter:before, .ticker p {color:none !important;}
.fa-twitter:before {font-size:0.9em;}
.fa-twitter:before {color:default;}

.fa-twitter:before, .fa-facebook:before, .fa-github:before, .fa-question:before{
    margin: 0 0 0 -4px;
}
.fa-twitter:before {
    content: "\f099";
}
.fa-facebook:before {
    content: "\f09a";
}
.fa-github:before {
    content: "\f09b";
}
.fa {display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1;}
.fa-bell:before {content: "";}

.card_pastevents_row a {
    color: #ffffff;
}

div.cs_pastevents_panel {
    background-color:#101f55;
    padding:1em;
}

div.cs_pastevents_panel p {
    margin:0;
}

/* Icons - Header Area */
.fa.fa-2x {margin: 9px 13px 11px;}

/* top-bar-section */
.top-bar-section li:not(.has-form) a:not(.button) {
	padding: 0 10px;
	background-color: #ffffff;
	color: #0040a4;
	text-align: right;
}
.top-bar-section li.active:not(.has-form) a:not(.button), .top-bar-section li.active:not(.has-form) a:not(.button) .fa-2x:before {
    background-color: #0040a4 !important;
    color: #ffffff;
}
.top-bar-section li:not(.has-form) a:hover, .top-bar-section li:not(.has-form) a:hover .fa-2x:before {
    background-color: #102151 !important;
    color: #ffffff;
}
.top-bar-section li.active:not(.has-form) a:hover, .top-bar-section li.active:not(.has-form) a:hover .fa-2x:before {
    background-color: #102151 !important;
    color: #ffffff;
}
li.active > a {
    background-color:#0040a4;
}

section .small-12.column.cs_bg_blue.card_top_row {background-color:#102151; margin:2px 0 0 0; padding: 1em;}
section .card_top_row > .spotlight, .card_pastevents_row {color:#ffffff; font-weight: bold; letter-spacing: 0.05em; text-transform: uppercase;}

section.photo p {margin-bottom: 0;}

.show-for-medium-up section.relay_article {width:1000px;}
.show-for-medium-up section.relay_audio {width:1000px;}
.show-for-medium-up section.relay_editorial {width:1000px;}
.show-for-medium-up section.relay_live {width:1000px;}
.show-for-medium-up section.relay_msg_src {width:1000px;}
.show-for-medium-up section.relay_photo {width:1000px;}
.show-for-medium-up section.relay_tweet {width:1000px;}
.show-for-medium-up section.relay_video {width:1000px;}

section.relay_article {}
section.relay_audio {}
section.relay_editorial {}
section.relay_live {}
section.relay_msg_src {}
section.relay_photo {}
section.relay_tweet {}
section.relay_video {}

/* Nodes */

body.page-node h1#page-title { display:none; }

.page .l-header {background-color: #fff; max-width: 1000px; padding-bottom:2px; position: fixed; width: 100%; z-index:500;}
.page main {padding-top:73px !important;}

.posted {background-color:#000000 !important;} /*Helps to conceal the article text -- Wont work when in relay.css? */
.posted span {color:#000000 !important;} /*Hides the text thats in there*/

.pagination-centered {display:none;}

#badge {background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #666666; border-radius: 9px; box-shadow: 0 1px rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.08);
    color: #0040A4; content: attr(data-count); display: block; font-size: 0.8em; font-weight: bold; height: 18px; padding: 2px; position: absolute; right: 4px;
    text-align: center; top: 6px; width: 18px;}

article {clear:both;}

.body .text-secondary {
    position: static;
    top: -77px !important;
    z-index: -100;
}

.node-title  {
    clear: both;
    position: relative;
    top: 76%;
    z-index: -96;
}
