#youtubechannel-player {
  margin-bottom: 10px;
}

#youtubechannel-list {
  overflow-y: scroll;
}

#youtubechannel-list ul {
  margin: 0;
  padding: 0;
}

#youtubechannel-list ul li {
  background: none;
  display: inline;
  float: left;
  margin: 0 0 10px 0;
  padding: 0 5px 0 0;
}

#youtubechannel-list h2 {
  font-size: 16px;
}

#youtubechannel-list img {
  border: 1px solid #c3c3c3;
  height: 55px;
  padding: 2px;
}
