p.xray-help,
div.xray {
  display: block;
  color: white;
  padding: 5px;
  background-color: black;
  border: 4px solid white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

/* Make non-help xray font size consistent with help text size. */
div.xray {
  font-size: 0.923em;
}

/* Remove extra form item padding in Xray output (for form ID). */
div.xray .form-item {
  margin: 0;
  padding: 0;
}
